In [2]:
import pandas as pd
import numpy as np
import os
from functools import reduce

## ETL
#### contratos_df

In [127]:
contratos_df = pd.read_csv(os.path.join('data', 'contratos.csv'))
contratos_df.head()

,REGIONGEOGRAFICA,CODIGOCONTRATO,CODIGOBIP,NOMBRECONTRATO,SERVICIO,CENTROGESTION,TIPOGASTO,ESTADO,FECHAINICIO,FECHATERMINO,...,MONTOVIGENTE,IDCHILECOMPRA,RUTADJUDICADO,NOMBREADJUDICADO,MODALIDADLICITACION,MODALIDADCONTRATACION,TIPOREAJUSTE,TIPO_PERFIL,AVANCEFINANCIERO,MANDANTE
0,Tarapacá,15096,NaN,Reparación Ss.Hh. Edificio M.O.P.,ARQUITECTURA,Dirección de Arquitectura I Region,Obra,En Ejecución,17/07/13,27/07/13,...,59000,NaN,7957091,HECTOR HERNAN MOREIRA SCIARAFFIA.,Trato directo,PRECIOS UNITARIOS,Sin Reajuste,NaN,0.0,Externos
1,Atacama,15239,NaN,Conservación Repar Edificios M.O.P. 1999,ARQUITECTURA,Dirección de Arquitectura III Region,Obra,Terminado,15/04/10,30/04/10,...,2593916,NaN,7288982,JORGE ALEXIS CANTO VERGARA,Propuesta privada,PRECIOS UNITARIOS,Sin Reajuste,NaN,0.0,Externos
2,Aysén,91114,30237372-0,ENCAUZAMIENTO MAQUINARIA PESADA RÍO EL SILENCI...,OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,03/12/15,23/12/15,...,18831750,1149-36-LE15,9176977,LUIS PATRICIO ROA MUNOZ,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos
3,Aysén,91131,30101318-0,CONSERVACION RED PRIMARIA DE AGUAS LLUVIAS PUE...,OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,10/10/13,29/12/13,...,44159338,1149-26-LE13,9176977,LUIS PATRICIO ROA MUNOZ,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos
4,Aysén,102609,30101318-0,"CONSERVACIÓN RED PRIMARIA DE AGUAS LLUVIAS, PU...",OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,31/05/13,21/12/13,...,243663811,1149-3-LP13,76058293,SOCIEDAD FINLEZ Y RUIZ LTDA.,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos

In [128]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  object
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  object
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  object
 7   ESTADO                 18252 non-null  object
 8   FECHAINICIO            18252 non-null  object
 9   FECHATERMINO           18252 non-null  object
 10  FECHATERMINOORIGINAL   18252 non-null  object
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  object
 17  MODALIDADCONTRATACION  18252 non-null  object
 18  TIPOREAJUSTE           18252 non-null  object
 19  TIPO_PERFIL            14702 non-null  object
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  object
dtypes: float64(1), int64(4), object(17)
memory usage: 3.1+ MB

cambio de tipos

In [129]:
posibles_categoricos = ('REGIONGEOGRAFICA', 'SERVICIO', 'TIPOGASTO', 'ESTADO', 'MODALIDADLICITACION', 'MODALIDADCONTRATACION','TIPOREAJUSTE', 'TIPO_PERFIL', 'MANDANTE')
for i in posibles_categoricos:
    print('Valores unicos de la columna', i, tuple(contratos_df[i].unique()))

Valores unicos de la columna REGIONGEOGRAFICA ('Tarapacá', 'Atacama', 'Aysén', 'La Araucanía', 'Metropolitana de Santiago', 'Coquimbo', 'Antofagasta', 'Valparaíso', 'Los Lagos', 'Arica y Parinacota', 'Magallanes y de la Antártica Chilena', 'OHiggins', 'Ñuble', 'Biobío', 'Maule', 'Los Ríos', 'Interregional')
Valores unicos de la columna SERVICIO ('ARQUITECTURA', 'OBRAS HIDRÁULICAS', 'O.PORTUARIAS', 'SSSR', 'VIALIDAD', 'AEROPUERTOS', 'D.G.O.P.', 'I. N. HIDRAULICA')
Valores unicos de la columna TIPOGASTO ('Obra', 'Asesorías y Consultorías', 'Estudio')
Valores unicos de la columna ESTADO ('En Ejecución', 'Terminado')
Valores unicos de la columna MODALIDADLICITACION ('Trato directo', 'Propuesta privada', 'Propuesta publica', 'Trato Directo con Cotización')
Valores unicos de la columna MODALIDADCONTRATACION ('PRECIOS UNITARIOS', 'SUMA ALZADA', 'SUMA ALZADA Y PRECIOS UNIT', 'PAGO CONTRA RECEPCION')
Valores unicos de la columna TIPOREAJUSTE ('Sin Reajuste', 'Indice de Precios al Consumidor', 'Indice Polinomico', 'Otros')
Valores unicos de la columna TIPO_PERFIL (nan, 'Contratista O. Menores', 'Sin Registro', 'Contratista O. Mayores', 'Consultor', 'Otro Registro')
Valores unicos de la columna MANDANTE ('Externos', 'Internos')

In [130]:
for i in posibles_categoricos:
    contratos_df[i] = contratos_df[i].astype('category')

In [131]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  category
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  category
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  category
 7   ESTADO                 18252 non-null  category
 8   FECHAINICIO            18252 non-null  object
 9   FECHATERMINO           18252 non-null  object
 10  FECHATERMINOORIGINAL   18252 non-null  object
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  category
 17  MODALIDADCONTRATACION  18252 non-null  category
 18  TIPOREAJUSTE           18252 non-null  category
 19  TIPO_PERFIL            14702 non-null  category
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  category
dtypes: category(9), float64(1), int64(4), object(8)
memory usage: 2.0+ MB

In [132]:
contratos_df['FECHAINICIO'] = contratos_df['FECHAINICIO'].apply(lambda x: x[:6] + '20' + x[6:])
contratos_df['FECHATERMINO'] = contratos_df['FECHATERMINO'].apply(lambda x: x[:6] + '20' + x[6:])
contratos_df['FECHATERMINOORIGINAL'] = contratos_df['FECHATERMINOORIGINAL'].apply(lambda x: x[:6] + '20' + x[6:])

In [133]:
contratos_df['FECHAINICIO'] = pd.to_datetime(contratos_df['FECHAINICIO'], format="%d/%m/%Y", errors='coerce')
contratos_df['FECHATERMINO'] = pd.to_datetime(contratos_df['FECHATERMINO'], format="%d/%m/%Y", errors='coerce')
contratos_df['FECHATERMINOORIGINAL'] = pd.to_datetime(contratos_df['FECHATERMINOORIGINAL'], format="%d/%m/%Y", errors='coerce')

In [134]:
contratos_df[['FECHAINICIO', 'FECHATERMINO', 'FECHATERMINOORIGINAL']]

      FECHAINICIO FECHATERMINO FECHATERMINOORIGINAL
0      2013-07-17   2013-07-27           2013-07-27
1      2010-04-15   2010-04-30           2010-04-30
2      2015-12-03   2015-12-23           2015-12-23
3      2013-10-10   2013-12-29           2013-12-29
4      2013-05-31   2013-12-21           2013-11-27
...           ...          ...                  ...
18247  2024-05-16   2024-05-26           2024-05-26
18248  2024-06-24   2024-07-01           2024-07-01
18249  2024-05-30   2024-07-14           2024-07-14
18250  2024-05-30   2024-07-14           2024-07-14
18251  2024-05-30   2024-07-14           2024-07-14

[18252 rows x 3 columns]

In [135]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  category
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  category
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  category
 7   ESTADO                 18252 non-null  category
 8   FECHAINICIO            18252 non-null  datetime64[ns]
 9   FECHATERMINO           18252 non-null  datetime64[ns]
 10  FECHATERMINOORIGINAL   18252 non-null  datetime64[ns]
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  category
 17  MODALIDADCONTRATACION  18252 non-null  category
 18  TIPOREAJUSTE           18252 non-null  category
 19  TIPO_PERFIL            14702 non-null  category
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  category
dtypes: category(9), datetime64[ns](3), float64(1), int64(4), object(5)
memory usage: 2.0+ MB

In [136]:
contratos_df['REGIONGEOGRAFICA'].unique()

['Tarapacá', 'Atacama', 'Aysén', 'La Araucanía', 'Metropolitana de Santiago', ..., 'Ñuble', 'Biobío', 'Maule', 'Los Ríos', 'Interregional']
Length: 17
Categories (17, object): ['Antofagasta', 'Arica y Parinacota', 'Atacama', 'Aysén', ..., 'OHiggins', 'Tarapacá', 'Valparaíso', 'Ñuble']

pagos_df

In [137]:
pagos_df = pd.read_csv(os.path.join('data', 'pagos.csv'))
pagos_df.info()
pagos_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119913 entries, 0 to 119912
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AGNO               119913 non-null  int64
 1   REGIONGEOGRAFICA   119913 non-null  object
 2   CODIGOCONTRATO     119913 non-null  int64
 3   SUBTITULO          119913 non-null  object
 4   SERVICIO           119913 non-null  object
 5   ITEM               119913 non-null  object
 6   ASIGNACION         119913 non-null  object
 7   CODIGOBIP          119913 non-null  object
 8   SUBASIGNACION      119913 non-null  object
 9   FECHA_DOCUMENTO    46307 non-null   object
 10  FECHA_INGRESO_MOP  46289 non-null   object
 11  FECHAPAGO          119913 non-null  object
 12  TOTALPAGADO        119913 non-null  int64
 13  RUTADJUDICADO      119913 non-null  int64
 14  NOMBREADJUDICADO   119895 non-null  object
dtypes: int64(4), object(11)
memory usage: 13.7+ MB

C:\Users\IMC\AppData\Local\Temp\ipykernel_17412\2991739602.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  pagos_df = pd.read_csv(os.path.join('data', 'pagos.csv'))

,AGNO,REGIONGEOGRAFICA,CODIGOCONTRATO,SUBTITULO,SERVICIO,ITEM,ASIGNACION,CODIGOBIP,SUBASIGNACION,FECHA_DOCUMENTO,FECHA_INGRESO_MOP,FECHAPAGO,TOTALPAGADO,RUTADJUDICADO,NOMBREADJUDICADO
119908,2024,Ñuble,389837,INICIATIVAS DE INVERSIÓN,Dirección de Vialidad,PROYECTOS,OBRAS CIVILES EMERGENCIA,40055557-0,CONSERVACION POR EMERGENCIA RED VIAL REGION DE...,28/06/24,28/06/24,28/06/24,186069315,79929720,INGENIERIA Y CONSTRUCCION EDUARDO ARANCIBIA SA
119909,2024,Ñuble,391576,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40057546-0,CONSERVACION DE EMERGENCIA DE CAUCES NATURALES...,17/06/24,17/06/24,24/06/24,1641470000,76800373,CONIX INGENIERIA Y CONSTRUCCION SPA
119910,2024,Ñuble,394724,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",28/06/24,28/06/24,28/06/24,9330483,59169360,TECNICA Y PROYECTOS S.A. AGENCIA EN CHILE
119911,2024,Ñuble,394737,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",26/06/24,26/06/24,27/06/24,20590570,76654187,SUR SOCIAL CONSULTORA SPA
119912,2024,Ñuble,395918,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40060879-0,CONSERVACION EMERGENCIA DE CAUCES NATURALES RE...,07/06/24,07/06/24,12/06/24,454895754,76280936,FORESTA SPA

variables categoricas

In [138]:
posibles_categoricos = ('REGIONGEOGRAFICA', 'SERVICIO', 'SUBTITULO', 'ITEM', 'ASIGNACION')
for i in posibles_categoricos:
    print('Valores unicos de la columna', i, tuple(pagos_df[i].unique()))

Valores unicos de la columna REGIONGEOGRAFICA ('Antofagasta', 'Arica y Parinacota', 'Atacama', 'Aysén', 'Biobío', 'Coquimbo', 'La Araucanía', 'Los Lagos', 'Los Ríos', 'Magallanes y de la Antártica Chilena', 'Maule', 'Metropolitana de Santiago', 'OHiggins', 'Tarapacá', 'Valparaíso', 'Ñuble')
Valores unicos de la columna SERVICIO ('VIALIDAD', 'O.PORTUARIAS', 'AEROPUERTOS', 'OBRAS HIDRÁULICAS', 'ARQUITECTURA', 'A.P.R.', 'D.G.O.P.', 'I. N. HIDRAULICA', 'SSSR', 'A.P.R. - COVID', 'VIALIDAD - COVID', 'AEROPUERTOS - COVID', 'O.PORTUARIAS - COVID', 'OBRAS HIDRÁULICAS - COVID', 'ARQUITECTURA - COVID', 'Dirección de Vialidad', 'Dirección de Obras Portuarias', 'Dirección de Obras Hidráulicas', 'Subdirección de Servicios Sanitarios Rurales', 'Dirección de Aeropuertos', 'Dirección de Arquitectura')
Valores unicos de la columna SUBTITULO ('INICIATIVAS DE INVERSIÓN',)
Valores unicos de la columna ITEM ('PROYECTOS', 'ESTUDIOS BÁSICOS')
Valores unicos de la columna ASIGNACION ('OBRAS CIVILES', 'CONSULTORÍAS', 'OBRAS CIVILES EMERG. TERREMOTO', 'CONSULTORÍAS EMERG. TERREMOTO', 'EQUIPOS ', 'EQUIPAMIENTO', 'VEHÍCULOS', 'OTROS GASTOS', 'OBRAS CIVILES EMERGENCIA', 'OBRAS CIVILES PLAN EMPLEO', 'CONSULTORÍAS EMERGENCIA', 'CONSULTORÍAS PLAN EMPLEO', 'GASTOS ADM. RECUPERACION', 'EQUIPOS RECUPERACION', 'EQUIPOS EMERGENCIA')

In [139]:
for i in posibles_categoricos:
    pagos_df[i] = pagos_df[i].astype('category')

In [140]:
pagos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119913 entries, 0 to 119912
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AGNO               119913 non-null  int64
 1   REGIONGEOGRAFICA   119913 non-null  category
 2   CODIGOCONTRATO     119913 non-null  int64
 3   SUBTITULO          119913 non-null  category
 4   SERVICIO           119913 non-null  category
 5   ITEM               119913 non-null  category
 6   ASIGNACION         119913 non-null  category
 7   CODIGOBIP          119913 non-null  object
 8   SUBASIGNACION      119913 non-null  object
 9   FECHA_DOCUMENTO    46307 non-null   object
 10  FECHA_INGRESO_MOP  46289 non-null   object
 11  FECHAPAGO          119913 non-null  object
 12  TOTALPAGADO        119913 non-null  int64
 13  RUTADJUDICADO      119913 non-null  int64
 14  NOMBREADJUDICADO   119895 non-null  object
dtypes: category(5), int64(4), object(6)
memory usage: 9.7+ MB

In [141]:
pagos_df[['FECHA_DOCUMENTO', 'FECHA_INGRESO_MOP', 'FECHAPAGO']]

       FECHA_DOCUMENTO FECHA_INGRESO_MOP FECHAPAGO
0                  NaN               NaN  30/12/10
1                  NaN               NaN  03/12/10
2                  NaN               NaN  14/12/10
3                  NaN               NaN  23/12/10
4                  NaN               NaN  03/03/10
...                ...               ...       ...
119908        28/06/24          28/06/24  28/06/24
119909        17/06/24          17/06/24  24/06/24
119910        28/06/24          28/06/24  28/06/24
119911        26/06/24          26/06/24  27/06/24
119912        07/06/24          07/06/24  12/06/24

[119913 rows x 3 columns]

In [142]:
pagos_df['FECHA_DOCUMENTO'] = pagos_df['FECHA_DOCUMENTO'].apply(lambda x: x[:6] + '20' + x[6:] if isinstance(x, str) else np.nan)
pagos_df['FECHA_INGRESO_MOP'] = pagos_df['FECHA_INGRESO_MOP'].apply(lambda x: x[:6] + '20' + x[6:] if isinstance(x, str) else np.nan)
pagos_df['FECHAPAGO'] = pagos_df['FECHAPAGO'].apply(lambda x: x[:6] + '20' + x[6:] if isinstance(x, str) else np.nan)

In [143]:
pagos_df[['FECHA_DOCUMENTO', 'FECHA_INGRESO_MOP', 'FECHAPAGO']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119913 entries, 0 to 119912
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   FECHA_DOCUMENTO    46307 non-null   object
 1   FECHA_INGRESO_MOP  46289 non-null   object
 2   FECHAPAGO          119913 non-null  object
dtypes: object(3)
memory usage: 2.7+ MB

In [144]:
pagos_df['FECHA_DOCUMENTO'] = pd.to_datetime(pagos_df['FECHA_DOCUMENTO'], format="%d/%m/%Y", errors='coerce')
pagos_df['FECHA_INGRESO_MOP'] = pd.to_datetime(pagos_df['FECHA_INGRESO_MOP'], format="%d/%m/%Y", errors='coerce')
pagos_df['FECHAPAGO'] = pd.to_datetime(pagos_df['FECHAPAGO'], format="%d/%m/%Y", errors='coerce')

In [146]:
pagos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119913 entries, 0 to 119912
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AGNO               119913 non-null  int64
 1   REGIONGEOGRAFICA   119913 non-null  category
 2   CODIGOCONTRATO     119913 non-null  int64
 3   SUBTITULO          119913 non-null  category
 4   SERVICIO           119913 non-null  category
 5   ITEM               119913 non-null  category
 6   ASIGNACION         119913 non-null  category
 7   CODIGOBIP          119913 non-null  object
 8   SUBASIGNACION      119913 non-null  object
 9   FECHA_DOCUMENTO    46307 non-null   datetime64[ns]
 10  FECHA_INGRESO_MOP  46289 non-null   datetime64[ns]
 11  FECHAPAGO          119913 non-null  datetime64[ns]
 12  TOTALPAGADO        119913 non-null  int64
 13  RUTADJUDICADO      119913 non-null  int64
 14  NOMBREADJUDICADO   119895 non-null  object
dtypes: category(5), datetime64[ns](3), int64(4), object(3)
memory usage: 9.7+ MB

Dropeo columnas

In [147]:
pagos_df.drop(columns='AGNO')

,REGIONGEOGRAFICA,CODIGOCONTRATO,SUBTITULO,SERVICIO,ITEM,ASIGNACION,CODIGOBIP,SUBASIGNACION,FECHA_DOCUMENTO,FECHA_INGRESO_MOP,FECHAPAGO,TOTALPAGADO,RUTADJUDICADO,NOMBREADJUDICADO
0,Antofagasta,137786,INICIATIVAS DE INVERSIÓN,VIALIDAD,PROYECTOS,OBRAS CIVILES,30083947-0,CONSERVACION RED VIAL 2009-2011 - II REGION,NaT,NaT,2010-12-30,235565667,61101037,CUERPO MILITAR DEL TRABAJO
1,Antofagasta,159928,INICIATIVAS DE INVERSIÓN,O.PORTUARIAS,PROYECTOS,CONSULTORÍAS,30089892-0,CONSERVACION GLOBAL OBRAS PORTUARIAS 2010 REG...,NaT,NaT,2010-12-03,9996000,76922760,SERVICIO DE INGENIERIA Y CONSTRUCCION CIA. LTDA.
2,Antofagasta,159976,INICIATIVAS DE INVERSIÓN,AEROPUERTOS,PROYECTOS,OBRAS CIVILES,30081935-0,"NORMALIZACION OACI AEROPUERTO CERRO MORENO, A...",NaT,NaT,2010-12-14,119085361,89126400,CONSTRUCTORA SAN FELIPE S.A.
3,Antofagasta,159976,INICIATIVAS DE INVERSIÓN,AEROPUERTOS,PROYECTOS,OBRAS CIVILES,30081935-0,"NORMALIZACION OACI AEROPUERTO CERRO MORENO, A...",NaT,NaT,2010-12-23,402818791,89126400,CONSTRUCTORA SAN FELIPE S.A.
4,Antofagasta,160402,INICIATIVAS DE INVERSIÓN,VIALIDAD,PROYECTOS,OBRAS CIVILES,30062692-0,CONSTRUCCION PISTAS PARA PESAJE MOVIL,NaT,NaT,2010-03-03,30290748,76044303,MAT CONSTRUCCION LIMITADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119908,Ñuble,389837,INICIATIVAS DE INVERSIÓN,Dirección de Vialidad,PROYECTOS,OBRAS CIVILES EMERGENCIA,40055557-0,CONSERVACION POR EMERGENCIA RED VIAL REGION DE...,2024-06-28,2024-06-28,2024-06-28,186069315,79929720,INGENIERIA Y CONSTRUCCION EDUARDO ARANCIBIA SA
119909,Ñuble,391576,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40057546-0,CONSERVACION DE EMERGENCIA DE CAUCES NATURALES...,2024-06-17,2024-06-17,2024-06-24,1641470000,76800373,CONIX INGENIERIA Y CONSTRUCCION SPA
119910,Ñuble,394724,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",2024-06-28,2024-06-28,2024-06-28,9330483,59169360,TECNICA Y PROYECTOS S.A. AGENCIA EN CHILE
119911,Ñuble,394737,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",2024-06-26,2024-06-26,2024-06-27,20590570,76654187,SUR SOCIAL CONSULTORA SPA
119912,Ñuble,395918,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40060879-0,CONSERVACION EMERGENCIA DE CAUCES NATURALES RE...,2024-06-07,2024-06-07,2024-06-12,454895754,76280936,FORESTA SPA

requisitos_df

In [150]:
requisitos_df = pd.read_csv('data/requisitos.csv')
requisitos_df.info()
requisitos_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21244 entries, 0 to 21243
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGOCONTRATO       21244 non-null  int64
 1   NOMBRE_TIPOREGISTRO  21244 non-null  object
 2   CODIGO_ESPECIALIDAD  21244 non-null  object
 3   NOMBRE_ESPECIALIDAD  21244 non-null  object
 4   CODIGO_CATEGORIA     21244 non-null  object
 5   NOMBRE_CATEGORIA     21244 non-null  object
dtypes: int64(1), object(5)
memory usage: 995.9+ KB

,CODIGOCONTRATO,NOMBRE_TIPOREGISTRO,CODIGO_ESPECIALIDAD,NOMBRE_ESPECIALIDAD,CODIGO_CATEGORIA,NOMBRE_CATEGORIA
0,148176,Contratista O. Menores,13 O.M.,Instalaciones Eléctricas,A a S,A Superior
1,155576,Contratista O. Mayores,3 O.C.,Pavimentos,2da,Segunda
2,138305,Contratista O. Mayores,2 O.C.,Obras de Hormigon Estructural,2da,Segunda
3,138305,Contratista O. Mayores,10 O.C.,Fundaciones,3era A,Tercera A
4,138305,Contratista O. Mayores,15 O.C.,Puentes y Cruces Desnivelados,2da,Segunda
...,...,...,...,...,...,...
21239,387206,Contratista O. Mayores,1 O.C.,Obras de Movimiento de Tierra,3era A,Tercera A
21240,387206,Contratista O. Mayores,13 O.C.,Obras de Defensas Fluviales,3era A,Tercera A
21241,378385,Contratista O. Mayores,5 O.C.,Obras de Colocacion de Tuberias,3era B,Tercera B
21242,391582,Consultor,4.1.,Estructuras,2da,Segunda
21243,391582,Consultor,4.4.,Obras Portuarias,2da,Segunda

categoricos

In [ ]:
posibles_categoricos = ('NOMBRE_TIPOREGISTRO', 'CODIGO_ESPECIALIDAD', 'CODIGO_CATEGORIA', 'NOMBRE_CATEGORIA')
for i in posibles_categoricos:
    print(requisitos_df[i].unique())

['Contratista O. Menores' 'Contratista O. Mayores' 'Consultor'
 'Sin Registro' 'Otro Registro']
['13 O.M.' '3 O.C.' '2 O.C.' '10 O.C.' '15 O.C.' '1 O.C.' '3.7.' '6 O.C.'
 '5 O.C.' '1.1.' '1.3.' '4.9.' '17 O.M.' '5 O.M.' '13 O.C.' '10 O.M.'
 '1 O.M.' '3 O.M.' '3.6.' '7 O.M.' '4 O.M.' '9 O.M.' '8 O.C.' '16 O.C.'
 '0' '21 O.M.' '19 O.M.' '22 O.M.' '4.1.' '4.3.' '4.7.' '4.8.' '15 O.M.'
 '4 O.C.' '9.7.' '6 O.M.' '14 O.M.' '18 O.M.' '4.4.' '6.1.' '9.1.' '3.2.'
 '1.4.' '17 O.C.' '18 O.C.' '8 O.M.' '11 O.C.' '19 O.C.' '20 O.M.'
 '16 O.M.' '11 O.M.' '1.5.' '1 M.' '7.1.' '2 O.M.' '6.3.' '2.2.' '3.1.'
 '4.2.' '20 O.C.' 'G.G.' '3.3.' '9 O.C.' '4.10.' '1.2.' '2.1.' '5.4.'
 '6.2.' '7.2.' '3.5.' '14 O.C.' '3.4.' '9.4.' '8.3.' '7.4.' '4.6.' '8.5.'
 '3 M.' '4.5.' '12 O.C.' '7 O.C.' '12 O.M.' '7.10.' '7.8.' '2 M.' '9.2.'
 '6.4.' '9.8.' '7.3.' '5.3.' '9.3.' '5.1.' '9.5.']
['A a S' '2da' '3era A' '3' '1era' '3era B' '1a S' 'A' 'B' 'no existe'
 '3era']
['A Superior' 'Segunda' 'Tercera A' 'Tercera' 'Primera' 'Tercera B'
 'Primera Superior' 'A' 'B' 'no existe']

In [154]:
for i in posibles_categoricos:
    requisitos_df[i] = requisitos_df[i].astype('category')

In [3]:
ofertas_df = pd.read_csv(os.path.join('data', 'ofertas.csv'))
ofertas_df.info()
ofertas_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66903 entries, 0 to 66902
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODIGOCONTRATO    66903 non-null  int64
 1   NUM_OFERTA        66903 non-null  int64
 2   RUTOFERENTE       66903 non-null  int64
 3   NOMBRE_OFERTA     63920 non-null  object
 4   MONTO_OFERTA      66903 non-null  float64
 5   OBSERVACION       10624 non-null  object
 6   CONDICION_OFERTA  66903 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 3.6+ MB

,CODIGOCONTRATO,NUM_OFERTA,RUTOFERENTE,NOMBRE_OFERTA,MONTO_OFERTA,OBSERVACION,CONDICION_OFERTA
66898,372068,1,78306360,ESTUDIO BÁSICO ACTUALIZACIÓN DE PUNTOS CENSALE...,1.035300e+09,NaN,1
66899,372068,3,78180200,ESTUDIO BÁSICO ACTUALIZACIÓN DE PUNTOS CENSALE...,1.035706e+09,NaN,1
66900,372068,4,59169360,ESTUDIO BÁSICO ACTUALIZACIÓN DE PUNTOS CENSALE...,1.280780e+09,NaN,1
66901,370530,1,79929720,Conservación infraestructura portuaria Caleta ...,2.586923e+09,NaN,1
66902,370530,2,79730570,Conservación infraestructura portuaria Caleta ...,3.256328e+09,NaN,1

In [ ]:
posibles_categoricos = ('NUM_OFERTA', 'CONDICION_OFERTA')
for i in posibles_categoricos:
    print(i, len(ofertas_df[i].unique()),ofertas_df[i].unique())

CODIGOCONTRATO 18250 [173679 167376 173741 ... 315677 388930 370530]
NUM_OFERTA 30 [ 3  5  2  1  4  7  8  6 11 12 13  9 16 18 19 21 10 15 17 20 22 23 24 26
 14 30 27 28 25 29]
CONDICION_OFERTA 2 [1 2]

In [ ]:
for i in posibles_categoricos:
    ofertas_df[i] = ofertas_df[i].astype('category')
    
ofertas_df['MONTO_OFERTA'] = ofertas_df['MONTO_OFERTA'].astype('int64')

sociedades_df

In [32]:
sociedades_df = reduce(lambda x,y: pd.concat((x,y)),
                       map(lambda x: pd.read_csv(os.path.join('data', x), sep=';'),
                           filter(lambda x: '20' in x, os.listdir('data'))
                           )
                       )
sociedades_df.info()
sociedades_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1112365 entries, 0 to 147783
Data columns (total 15 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   ID                                1112365 non-null  int64
 1   RUT                               1112365 non-null  object
 2   Razon Social                      1112364 non-null  object
 3   Fecha de actuacion (1era firma)   1112365 non-null  object
 4   Fecha de registro (ultima firma)  1112365 non-null  object
 5   Fecha de aprobacion x SII         1112365 non-null  object
 6   Anio                              1112365 non-null  int64
 7   Mes                               1112365 non-null  object
 8   Comuna Tributaria                 1112365 non-null  object
 9   Region Tributaria                 1112365 non-null  int64
 10  Codigo de sociedad                1112365 non-null  object
 11  Tipo de actuacion                 1112365 non-null  object
 12  Capital                           1112365 non-null  int64
 13  Comuna Social                     1107036 non-null  object
 14  Region Social                     1107036 non-null  float64
dtypes: float64(1), int64(4), object(10)
memory usage: 135.8+ MB

,ID,RUT,Razon Social,Fecha de actuacion (1era firma),Fecha de registro (ultima firma),Fecha de aprobacion x SII,Anio,Mes,Comuna Tributaria,Region Tributaria,Codigo de sociedad,Tipo de actuacion,Capital,Comuna Social,Region Social
0,84,76286049-K,Servicios Digitales Enubis Cam limitada,02-05-2013,02-05-2013,02-05-2013,2013,Mayo,MAIPU,13,SRL,CONSTITUCIÓN,7000000,MAIPU,13.0
1,508,76286055-4,Fast Good Chile Limitada,02-05-2013,02-05-2013,02-05-2013,2013,Mayo,SAN MIGUEL,13,SRL,CONSTITUCIÓN,25000000,SAN MIGUEL,13.0
2,86,76286052-K,Marketing y Publicidad Ideas Movers Ltda.,02-05-2013,02-05-2013,02-05-2013,2013,Mayo,SAN BERNARDO,13,SRL,CONSTITUCIÓN,2000000,SAN BERNARDO,13.0
3,321,76286054-6,COMERCIAL Y DISTRIBUIDORA FRUTIMARKET MAYORIST...,02-05-2013,02-05-2013,02-05-2013,2013,Mayo,LO ESPEJO,13,SRL,CONSTITUCIÓN,5000000,LO ESPEJO,13.0
4,446,76286056-2,ENLACEDESIGN PRO LTDA.,02-05-2013,02-05-2013,02-05-2013,2013,Mayo,VITACURA,13,SRL,CONSTITUCIÓN,2000000,VITACURA,13.0

In [40]:
posibles_categoricos = ('Anio', 'Mes', 'Region Tributaria', 'Codigo de sociedad', 'Tipo de actuacion', 'Region Social')
for i in posibles_categoricos:
    print(i, sociedades_df[i].unique())

Anio [2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]
Mes ['Mayo' 'Junio' 'Julio' 'Agosto' 'Septiembre' 'Octubre' 'Noviembre'
 'Diciembre' 'Enero' 'Febrero' 'Marzo' 'Abril']
Region Tributaria [13  8 10  5  1  7  3  2  9  4  6 11 14 12 15 16]
Codigo de sociedad ['SRL' 'EIRL' 'SpA' 'SA' 'SCC' 'SCA' 'SCS' 'SAGR']
Tipo de actuacion ['CONSTITUCIÓN']
Region Social [13.  8. 10.  5.  1.  7.  3.  2.  9.  4.  6. nan 11. 14. 12. 15. 16.]

In [42]:
# sociedades_df['Razon Social'] = 
sociedades_df['Region Social'].astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer